.col-sm-4{
  float:left;
}
.col-sm-12{
  float:left;
}
.image-container{
  width:100%;
  float:left;
  position:relative;
}
.img-description{
  text-align: center;
}
.img-responsive{
  display: block;
  padding:2px;
}
a img.img-responsive:hover{
  border-style: solid;
  border-width: thin;
  border-radius: 4px;
  cursor: pointer;
}
.modal-dialog{
  min-width:80%;
  max-width:90%;
}
h3{
  margin-bottom: 0px;
}
