.mission-text{
  font-size: 16px;
}
.mission-logo{
  height:50px;
}
.logo{
  width: 65px;
  height: 65px;
  margin-right: 10px;
}
p.grid-p{
  text-align: left;
  padding-left: 10px;
}
.carousel-caption{
  top: 250px;
}
.carousel-inner{
  height: 400px;
}
.strong{
  font-size: 30px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bolder;
}
.header-border{
  background-color: #9f0207;
  height: 4px;
  margin-right: 130px;
  margin-left: 130px;
}
#navbar-top{
  background-color: #EFEFEF;
  border: none;
  margin-right: 130px;
  margin-left: 130px;
  padding-top: 13px;
  padding-bottom: 13px;
}
#navbar-links{
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
}
#myCarousel{
  margin-right: 130px;
  margin-left: 130px;
}
#info-grid{
  font-family: 'Work Sans', sans-serif;
  text-align: center;
  margin-right: 130px;
  margin-left: 130px;
}
#carousel-bg{
  height:30%;
  background-color: #9f0207;
}
#navbar-bg{
  background-color: #EFEFEF;
  margin-bottom: -20px;
}
#navbar-logo-area{
  margin-bottom: 10px;
}
#individ-links{
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;*/
  -webkit-transition: padding .5s; /* Safari */
  transition: padding .5s;
  border: none;
}
#individ-links:hover{
  padding-top: 25px;
  font-weight: bold;
}
#mission-modal{
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 60px;
}
#mission-context{
  height: 300px;
  overflow-y: scroll;
  background-color: #EFF9F7;
}
